flow1.json
[{"id":"a4e03318.dd231","type":"inject","z":"c425529.3f1a1b","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":100,"wires":[["218b4373.3a9dcc"]]},{"id":"54419a03.1346b4","type":"debug","z":"c425529.3f1a1b","name":"","active":true,"console":"false","complete":"false","x":450,"y":100,"wires":[]},{"id":"218b4373.3a9dcc","type":"random","z":"c425529.3f1a1b","name":"","low":"1","high":"10","inte":"true","x":260,"y":100,"wires":[["54419a03.1346b4"]]}]