flow3.txt
[{"id":"7d1d9033.ed18e","type":"inject","z":"58ea1b4c.af0e74","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["e1a96e25.b906c"]]},{"id":"e6852ef7.f9245","type":"inject","z":"58ea1b4c.af0e74","name":"","topic":"","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":280,"wires":[["588612b2.26fb2c"]]},{"id":"588612b2.26fb2c","type":"rpi-neopixels","z":"58ea1b4c.af0e74","name":"","pixels":"1","bgnd":"","fgnd":"","wipe":"10","mode":"pixels","rgb":"rgb","brightness":"50","gamma":false,"x":750,"y":160,"wires":[]},{"id":"e1a96e25.b906c","type":"random","z":"58ea1b4c.af0e74","name":"","low":"0","high":"10","inte":"true","property":"payload","x":340,"y":80,"wires":[["cebf720b.466de","6ef49962.602528"]]},{"id":"cebf720b.466de","type":"function","z":"58ea1b4c.af0e74","name":"","func":"if (msg.payload <= 4){\n  msg.payload = '#FF0000'\n}\nif (msg.payload >= 5 && msg.payload <= 7){\n  msg.payload = '#FFD700'\n}\nif (msg.payload >= 8){\n   msg.payload = '#00FF00'\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["a3a3788e.348018","588612b2.26fb2c"]]},{"id":"a3a3788e.348018","type":"debug","z":"58ea1b4c.af0e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":80,"wires":[]},{"id":"6ef49962.602528","type":"debug","z":"58ea1b4c.af0e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":160,"wires":[]}]